import { COMPONENT_SETTINGS } from './{{pascalCase name}}-Settings';
import "./{{pascalCase name}}-Styles.scss";
import logo from "../../assets/img/logo.svg";

export default class {{pascalCase name}}Component extends COMPONENT_SETTINGS.PROTO_CLASS {

  state = COMPONENT_SETTINGS.INITIAL_STATE;

  // constructor( props : any ) {
  //   super( props );
  // }

  componentDidMount(){

    // setInterval(() => {
    //   this.exampleActionRedux();
    // }, 2000);
	}

  // UNSAFE_componentWillReceiveProps( nextProps : any ) {

  //   if( JSON.stringify( nextProps.contentData ) != JSON.stringify( this.state ) ) {
  //     this.setState( nextProps.contentData );
  //   }
  // }

  exampleActionRedux = () => {
    this.props.settingData({ val : this.props.contentData.val + 1 })
  }

  render(){

    const { contentData } = this.props;

    return (
      <div className="{{pascalCase name}}">
        <header className="{{pascalCase name}}-header">
          <p>
            Edit <code> ./src/components/{{pascalCase name}}/ </code> and save to reload.
          </p>
          <img src={logo} className="{{pascalCase name}}-logo" alt="logo" />
          <h1 className="{{pascalCase name}}-link">
           REDUX EXAMPLE: { JSON.stringify(contentData) }
          </h1>
          <button onClick={ () => this.exampleActionRedux() } className="btn btn-primary">
            DISPATCH REDUX ACTION EXAMPLE
          </button>
        </header>
      </div>
    );
  }
}
